<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
  <!-- <link href="favicon.ico" rel="icon" /> -->
  <link rel="stylesheet" media="all" href="css/reset.css" />
  <link rel="stylesheet" media="all" href="css/common.css" />
  <link rel="stylesheet" media="all" href="css/report.css" />
  <title>购买列表</title>
 </head>
 <body>
 	<!-- 全局顶部栏 -->
 	<div class="m-navbar" role="navigation">
  		<div class="limit clearfix">
	    	<a class="logo icon icon-logo fl" href="/"></a>
	    	<div class="fr login-box" style="display: none">
	    		<i class="icon icon-login_icon"></i>
	    		<a class="sign-up" href="/register">注册</a> /
	        	<a class="log-in" href="/login">登录</a>
	    	</div>
	    	<div class="fr login-box logged-in" >
	    		<a href="/record_list" class="record"><i class="icon icon-record_icon"></i>购买记录</a>
	    		<span class="name"><a href="">--</a>，已登录</span>
				<a href="/modify_account"><i class="icon icon-islogin_icon"></i></a>
	    	</div>
     	</div>
    </div>
    <!-- end -->

    <div class="wrap">
	    <!-- 内容 -->
	    <div class="u-content-wrap record-wrap">
	    	<div class="header clearfix">
	    		<p class="u-title fl"><i></i>购买列表</p>
	    		<a href="/" class="go-home fr">&lt;&lt; 返回首页</a>
	    	</div>
	    	<div class="body bd-b">
	    		<div class="table-title clearfix">
	    			<span class="t1">报告名称</span>
	    			<span class="t2">价格</span>
	    			<span class="t3">日期</span>
	    		</div>
	    		<table class="table table-bordered">
			      	<tbody>
				        <tr>
				          	<td width="585">《2016年研究报告》</td>
				          	<td width="194">200/份</td>
				          	<td width="212">2017-02-11</td>
				        </tr>
				        <tr>
				          	<td>《2016年研究报告》</td>
				          	<td>200/份</td>
				          	<td>2017-02-11</td>
				        </tr>
				        <tr>
				          	<td>《2016年研究报告》</td>
				          	<td>200/份</td>
				          	<td>2017-02-11</td>
				        </tr>
			      	</tbody>
			    </table>
	    		
	    	</div>
	    	<div class="foot"></div>
	    </div>
	    <!-- end -->
    </div>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="js/jquery.cookie.js"></script>
	<script type="text/javascript" src="js/account_validate.js"></script>
    <!--[if lt IE 9]>
	  <script type="text/javascript" src="js/PIE.js"></script>
	<![endif]-->
	<script type="text/javascript">
		$(function(){

		})
	</script>
 </body>
 </html>